<style>
    .login-section {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .login-form label {
        display: block;
        margin-bottom: 5px;
    }

    .login-form input[type="text"],
    .login-form input[type="password"],
    .login-form select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .login-form button[type="submit"] {
        padding: 10px 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
@model MedicalRecordManagement.Models.Views.LoginUserViewModel
<div class="login-section">
    <h1>Login</h1>
    <form class="login-form" method="post" action="Login">
        <div>
            <label for="cpf">CPF:</label>
            <input type="text" class="form-control" asp-for="TaxNumber">
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" class="form-control" asp-for="Password">
        </div>
        <button type="submit">Login</button>
        <a asp-controller="User" asp-action="CreateUser" class="btn btn-primary">Cadastre-se</a>
    </form>
</div>