@model MedicalRecordManagement.Models.Views.LoginUserViewModel
<style>
    .login-section {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .login-form label {
        display: block;
        margin-bottom: 5px;
    }

    .login-form input[type="text"],
    .login-form input[type="password"],
    .login-form select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .login-form button[type="submit"] {
        padding: 10px 15px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
<div class="login-section">
    <h1>Login</h1>
    <form class="login-form" method="post" action="Login">
        <div>
            <label for="">CPF:</label>
            <input type="number" class="form-control" asp-for="TaxNumber" maxlength="11" required>
            <span asp-validation-for="TaxNumber" class="text-danger"></span>
        </div>
        <div>
            <label for="">Senha:</label>
            <input type="password" class="form-control" asp-for="Password" required>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" asp-controller="Login" asp-action="Login">Login</button>
        <button class="btn btn-primary" asp-controller="User" asp-action="Index" formnovalidate>Cadastre-se</button>
    </form>
</div>