@model MedicalRecordManagement.Models.Views.CreateUserViewModel
<style>
    .register-section {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="register-section">
    <h2>Cadastre-se</h2>
    <form method="post" action="CreateUser">
        <div class="mb-3">
            <label for="" class="form-label">CPF</label>
            <input type="text" class="form-control" asp-for="TaxNumber">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password">
        </div>
        <div class="mb-3">
            <label for="userType">Tipo de usuário:</label>
            <select id="userType" name="UserType" class="form-control">
                <option value="Paciente">Paciente</option>
                <option value="Médico">Médico</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

