
@{
}
<head>
    <title>Visualizar Usuário</title>
</head>
<body>
    <h1>Informações do Usuário</h1>
    <div>
        <label>TaxNumber:</label>
        <span>@Model.TaxNumber</span>
    </div>
    <div>
        <label>Role:</label>
        <span>@Model.Role</span>
    </div>
    <div>
        <label>MedicalRecord:</label>
        <span>@Model.MedicalRecord</span>
    </div>
</body>